.gitignore

node_modules
dist
.env
.env.*

ideas.txt

src/models/data/cnpj_*

sensitive_data/

info.log
error.log

src/services/redisServices.ts
src/services/llm_test.ts
src/__tests__/*

coverage/*

src/practice/

